DB_HOST=localhost
DB_PORT=5432
DB_NAME=healthify
DB_USER=postgres
DB_PASSWORD=postgres
SESSION_SECRET=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET_KEY=
ENABLE_SENTRY=false
EMAIL_SENDING_RESEND_API_KEY=
GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_OAUTH_CLIENT_SECRET=""

ACCESS_TOKEN_EXPIRATION=1d
REFRESH_TOKEN_EXPIRATION=2d

# AWS AWS_* reserved for system ENV so we are adding APP_
APP_AWS_REGION=us-east-1
APP_AWS_ACCESS_KEY_ID_FOR_S3=
APP_AWS_SECRET_ACCESS_KEY_FOR_S3=
APP_AWS_S3_BUCKET=healthify-uploads

TURN_SECRET=
STUN_SERVER = 'stun:stun.l.google.com:19302';
TURN_SERVER = 'turn:turn.healthify.com.lk:3478';

PAYHERE_ENV=sandbox
PAYHERE_BASE_URL=https://sandbox.payhere.lk
PAYHERE_MERCHANT_ID=1233055
PAYHERE_MERCHANT_SECRET=MzM2MTc1MTg2MjEyNjkwOTA2MTY4NTQ1MjIwOTMyMDg2MTIyMjM=
PAYHERE_RETURN_URL=http://localhost:3010/bills/payhere/return
PAYHERE_CANCEL_URL=http://localhost:3010/bills/payhere/cancel
PAYHERE_NOTIFY_URL=http://localhost:3010/bills/payhere/notify
PAYHERE_CURRENCY=LKR
PAYHERE_COUNTRY=Sri Lanka

NODE_ENV=development
FRONTEND_URL=http://localhost:8082
# FRONTEND_URL=https://app.healthify.com.lk

 HEALTHIFY_FRONTEND_NATIVE_SCHEME=healthifyfrontend
HEALTHIFY_API_KEY=...


